.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgbargba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.principal {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}
.semaforo{
  width: 120px;
  margin-bottom: '10px';
}
.semaforo-anterior{
  margin-top: '10px';
  display: flex;
  flex-direction: column;
}
.button{
  padding-bottom: 10px;
}
.graphContainer{
  min-height: 300px;
  height: 400px;
  width: 700px;
}
.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal-content {
  width: 1100px;
  background-color: #333333;
  color: #fafafa;
  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-header,
.modal-footer {
  padding: 30px;
}

.modal-title {
  margin: 0;
  font-size: 36px;
  float: left;
  text-align: left;
}

.modal-date {
  margin: 0;
  font-size: 28px;
  float: right;
  text-align: right;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.data-padding{
  padding-top: 30px;
  padding-bottom: 15px;
}

#wrapper {
  display: flex;
  justify-content: space-between;
}
